.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    background: rgb(331, 241, 250)!important;
}

.container-title {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: white;
    font-family:sans-serif
}

h2 {
    color: white;
    
   
}

h1 {
    text-align: center;
    color: white;
    font-family: "Lucida Console";
    font-size: 2em;
}

.imagen{
    border-radius: 16px;
    
}

.container div {
    text-align: center;
    margin: 7px;
    background: rgba(0,0,0,0.5);
}

.dropdown {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    border-radius: 4px;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
}